* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('../images/Banner\ Image.png');
    background-position: center;
    width: 78%;
    height: 600px;
    max-width: 1320px;
    margin: 60px auto;

}





.header-title {
    color: #FFF;
    text-align: center;
    padding-top: 170px;
    font-size: 32px;
    margin-bottom: 25px;
}

.header-description {
    color: #FFF;
    text-align: center;
    font-size: 72px;
}

.sale {
    text-align: center;
    margin-top: 120px;
}

.clr-primary {
    color: #F00;
    font-size: 88px;
    margin-bottom: 10px;
}

.sale-title {
    color: #F00;
    margin-bottom: 20px;
}

.sale-description {
    color: #070211;
    font-size: 30px;
    margin-top: 0;
}

.welcome {
    background-image: url('../images/Vectorrr.png');
    width: 78%;
    max-width: 1320px;
    height: 600px;
    margin: 60px auto;
    display: flex;
    position: relative;
      
}
.welcome-title {
    color: #FFF;
    font-size: 64px;
    width: 642px;
    padding-top: 130px;
    margin-bottom: 20px;
}
.year-right{
    position: absolute;
    bottom: 65px;
    right: 130px;
}
.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    width: 697px;
}
.welcome-type {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    border: none;
}


.welcome-container {
    padding-left: 130px;
    
}

.about {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 78%;
    max-width: 1320px;
    height: 450px;
    align-items: center;
    /* text-align: center; */

    margin: 60px auto;
    flex-shrink: 0;
    /* padding: 100px 386px 214px 385px; */
}

.about-info-container {
    /* display: block; */
    text-align: center;
    padding: 100px 386px 214px 385px;
    font-size: 32px;
}

.info-title {
    color: #F00;
}

.sec-abt-btn {
    display: inline-flex;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    color: #FFFFFF;
    align-items: center;
    font-size: 20px;
}

.coming-soon {
    background-color: rgba(248, 200, 200, 0.055);
    height: 500px;
    width: 78%;
    max-width: 1320px;
    margin: 60px auto;
}
.cs-column {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.coming-soon-title {
    width: 390px;
    margin-bottom: 30px;
    padding-top: 100px;
}

.coming-soon-description {
    width: 270px;
    margin-bottom: 30px;
    padding-top: 100px;
}

.ellipse-center {

    width: 364.844px;
    height: 364.844px;
    margin: -200px 450px;
   padding: 40px;
    border-radius: 463px;
    border: 15px solid #F00;
}

.holiday {
    max-width: 1600px;
    margin: 60px auto;
}

.holiday-column {
    text-align: center;
    margin-top: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    position: relative;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;  
}
.column {
    flex: 1;
    margin-right: 10px;
    gap: 0;
      
}
.column-full {
    flex: 1;
    width: 1320px;
height: 229px;

}


.holiday-description {
    color: rgba(7, 2, 17, 0.60);
    font-size: 30px;
    text-align: center;
}

.port {
    max-width: 1600px;
    margin: 60px auto;
}

.port-column {
    max-width: 1600px;
    margin: 60px auto;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
   
}

.grid-item {
    width: 100%;

}

.grid-item img {
    width: 100%;
    
    height: auto;
    
}

.subs-column {
    max-width: 1320px;
    margin: 60px auto;
    text-align: center;
    height: 616px;
    background: rgba(255, 0, 0, 0.05);
    padding-top: 80px;
}

.subs-description {
    color: rgba(7, 2, 17, 0.60);
    width: 896px;
    text-align: center;
    font-size: 20px;
    padding-left: 200px;
    margin-bottom: 50px;
}

.subs-btn {
    display: flex;
    gap: 0px;
    padding-left: 300px;
    border: none;
}

.email-btn {
    width: 648px;
    height: 72px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: none;
}

.submit-btn {
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
}

footer {
    position: relative;
   max-width: 1400px;
   margin:60px auto ;
    background-color: #070211;
    padding-bottom: 260px;
    justify-content: space-between;
    font-size: 24px;
    color: #FFF;
  }
  p {
    margin: 0; 
  }
  
  .top-left {
    position: absolute;
    width: 375px;
   top: 0;
    left: 140px;
   padding-top: 120px;
   /*padding-top: 120px;
    margin-bottom: 50px;*/

    
  }
  
  .top-right {
    position: absolute;
    top: 0;
    right: 291px;
    padding-top: 120px;
    
  }
  
  .bottom-left {
    position: absolute;
    bottom: 0;
    left: 140px;
    padding-top: 260px;
   
  }
  
  .bottom-right {
    position: absolute;
    bottom: 0;
    right: 140px;
    
  }
  .socail-link{
    text-align: center;
    margin-right: 500px;
  }
  